{% extends "base.html" %}
{% load jtags %}
{% block title %}Счета{% endblock %}

{% block pagejs %}
<script type="text/javascript">
$(document).ready(function() {
    $('#addlink').click(function() {
        $('#invoiceadd').show();
        $('input[type*="checkbox"]').css('width', '15px');
        // invoices_update('/invoice/view/', '#leftm');
    })
});
</script>
{% endblock %}
{% block content %}
<h1>Ваши счета</h1>
{% if invoices %}
    <table class="itable">
        <thead>
            <tr>
                <th>Наименование</th>
                <th>Баланс</th>
                <th>Чужой*</th>
                <th>Примечание</th>
                <th>Дата изменения</th>
                <th></th>
            </tr>   
        </thead>
        <tfoot>
            <tr>
                <td>Итого</td>
                <td colspan="5">
                {{ summ_all|rusnum }} руб.: своих {{ summ|rusnum }}, чужих {{ summ_other|rusnum }}
                </td>
            </tr>
        </tfoot>    
        <tbody>
            {% for invoice in invoices %}
            <tr>
                <td><a href="{{ invoice.url }}" target="_blank" 
                    title="перейти к внешней странице счета">{{ invoice.name }}</a></td>
                <td><nobr>{{ invoice.balance|rusnum }} <span class="smallsym">{{ invoice.valuta.code }}</span></nobr></td>
                <td align="center">{{ invoice.other|myinvoice }}</td>
                <td>{{ invoice.comment }}</td>            
                <td><nobr>{{ invoice.modified|date:'d.m.Y H:i' }}</nobr></td>             
                <td width="30px"><a href="/invoice/delete/{{ invoice.id }}/" title="удалить счет">
                    <img src="{{ MEDIA_URL }}img/delete.png"  align="right" alt="удалить"></a>
                </td>
            </tr>   
            {% endfor %}
        </tbody>
    </table>
    <br>
    <strong>Изменить счета:</strong> 
    <ul class="actionul">
        <li><a href="/invoice/edit/" title="редактировать счета"><img src="{{ MEDIA_URL }}img/edit.png"> редактировать</a></li>
        <li><a href="#" title="добавить новый счет" id="addlink"><img src="{{ MEDIA_URL }}img/add.png"> добавить</a></li>
    </ul>
    <div id="invoiceadd" style="display: NONE"><br>
        <h3>Введите данные нового счета</h3>
        <form method="POST" id="addform" action="/invoice/add/" class="formstyle">
        {% csrf_token %}{{ formset.management_form }}
            <table class="bigfield">
                <tr>
                    <th>{{ form.name.label }}</th>
                    <td>
                        {{ form.name }}
                        <div class="italicp">{{ form.name.help_text }}</div>
                        {{ form.name.errors|lower }}
                    </td>
                </tr>
                 <tr>
                    <th>{{ form.valuta.label }}</th>
                    <td>
                        {{ form.valuta }}
                        <div class="italicp">{{ form.valuta.help_text }}</div>
                    </td>
                </tr>
                <tr>                
                    <th>{{ form.balance.label }}</th>
                    <td class="smallfield">
                        {{ form.balance }}
                        <div class="italicp">{{ form.balance.help_text }}</div>
                        {{ form.balance.errors|lower }}
                    </td>
                </tr>
                <tr>
                    <th>{{ form.other.label }}*</th>
                    <td>
                        {{ form.other }}
                        <div class="italicp">{{ form.other.help_text }}</div>
                        {{ form.other.errors|lower }}
                    </td>
                </tr>
                <tr>
                    <th>{{ form.url.label }}</th>
                    <td>
                        {{ form.url }}
                        <div class="italicp">{{ form.url.help_text }}</div>
                        {{ form.url.errors|lower }}
                    </td> 
                </tr>
                <tr>
                    <th>{{ form.comment.label }}</th>
                    <td>
                        {{ form.comment }}
                        <div class="italicp">{{ form.comment.help_text }}</div>
                        {{ form.comment.errors|lower }}
                    </td>
                </tr>
            </table>
        <input type="submit" value="Сохранить" />
         </form>
    </div>
    <p class="italicp">
        <b>*</b> &mdash; чужие счета не учитываются при подсчете баланса.
    </p>
{% else %}
    <em>Данные не найдены, необходимо <a href="/invoice/edit/" title="добавить новые счета">добавить</a> счета.</em>
{% endif %}
 
{% endblock content %}