{% extends "base.html" %}
{% block title %}Виды платежей{% endblock %}

{% block pagejs %}
<script type="text/javascript">
$(document).ready(function() {
    // $('#form1').submit(function () {
    //     addtype(1);
    //     return false;
    // });
})
</script>
{% endblock %}
{% block content %}
<h1>Виды платежей</h1>
<div class="itypestyle1">
    <h3>Расходы</h3>
    <div id="paystyle">
        <form type="POST" action="javascript:addtype(1)" id="form1">
            <input value="" id="add1">
            <a href="javascript:addtype(1)"><img src="{{ MEDIA_URL }}img/add.png" alt="добавить" align="top"></a>
        </form>
    </div>
    <div id="uptype1">
        {% if itype_out %}
            <ul>
                {% for ty in itype_out %}
                    <li>
                        <span id="type{{ ty.id }}" >{{ ty.name }}
                            <span class="dellink" onMouseOver="up_view(this)" onMouseOut="down_view(this)">
                                <a href="javascript:edittype(1,{{ ty.id }})"><img src="{{ MEDIA_URL }}img/edit.png" alt="правка"></a>
                            </span>
                            <span class="dellink" onMouseOver="up_view(this)" onMouseOut="down_view(this)">
                                <a href="javascript:deltype(1,{{ ty.id }})"><img src="{{ MEDIA_URL }}img/delete.png" alt="удалить"></a>
                            </span>
                        </span>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <em>видов расходов нет</em>
        {% endif %}
    </div>
</div>
<div class="itypestyle2">
    <h3>Доходы</h3> 
    <div id="paystyle">
        <form type="POST" action="javascript:addtype(0)"  id="form0">
            <input value="" id="add0">
            <a href="javascript:addtype(0)"><img src="{{ MEDIA_URL }}img/add.png" alt="добавить" align="top"></a>
        </form>
    </div>
    <div id="uptype0">
        {% if itype_in %}
           <ul>
                {% for ty in itype_in %}
                    <li>
                        <span id="type{{ ty.id }}" >{{ ty.name }}
                            <span class="dellink" onMouseOver="up_view(this)" onMouseOut="down_view(this)">
                                <a href="javascript:edittype(0,{{ ty.id }})"><img src="{{ MEDIA_URL }}img/edit.png" alt="правка"></a>
                            </span>
                            <span class="dellink" onMouseOver="up_view(this)" onMouseOut="down_view(this)">
                                <a href="javascript:deltype(0,{{ ty.id }})"><img src="{{ MEDIA_URL }}img/delete.png" alt="удалить"></a>
                            </span>
                        </span>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <em>видов расходов нет</em>
        {% endif %}
    </div>
</div>
 
{% endblock content %}