{% extends "base.html" %}
{% load jtags %}
{% block title %}
    Статистика платежей
{% endblock title %}

{% block pagejs %}
<script type="text/javascript">
$(document).ready(function() {
    $('input[type*="radio"]').css('width', '20px');
    $('input[type*="checkbox"]').css('width', '15px');

    ch_diapazone();
    $( "#rep_diapazone" ).change(ch_diapazone);
    $("#rep_diapazone").css('width', '110px');
    $("#rep_diapvalue").css('width', '110px');
});
</script>
{% endblock %}

{% block content %}
<h1>Статистика платежей. Отчеты и графики.</h1>
{% comment %}
    POST: {{ result }}
{% endcomment %}
<form method="POST" id="editform" action="" class="formhist">{% csrf_token %}
    <fieldset>
        <legend>Параметры</legend>
        <table cellpadding="8" border="0">
            <tr>
                <th>Период</th>
                <th colspan="2">Счета</th>
                <th colspan="2">Типы</th>
            </tr>
            <tr>
                <td>
                    <div>
                        <label for="rep_diapazone"><span>диапазон</span></label>
                        <select id="rep_diapazone" name="rep_diapazone">
                            <option value="y" {% if 'y' == values.defdiap %} selected="selected" {% endif %}>Год</option>
                            <option value="m"{% if 'm' == values.defdiap %} selected="selected" {% endif %}>Месяц</option>
                            <option value="w"{% if 'w' == values.defdiap %} selected="selected" {% endif %}>Неделя</option>
                        </select>
                    </div><br>
                    <div>
                        <label for="rep_diapvalue"><span>значение</span></label>                    
                        <span id="rep_diapvalue"></span>
                        <input type="hidden" id="defrepval" value="{{ values.defval }}">
                    </div>
                </td>
                <td>
                    {% for c in inv_cols.0 %}
                        <nobr>
                        <input id="invoice{{ c.id }}" name="invoice" 
                            type="checkbox" value="{{ c.id }}" 
                            {% if c.id in values.definvoices %} checked="checked" {% endif %}>
                        <label for="invoice{{ c.id }}">{{ c.name }}</label>
                        </nobr><br>
                    {% endfor %}
                </td>
                <td>
                    {% for c in inv_cols.1 %}
                        <nobr>
                        <input id="invoice{{ c.id }}" type="checkbox" value="{{ c.id }}"
                        name="invoice" 
                        {% if c.id in values.definvoices %} checked="checked" {% endif %}>
                        <label for="invoice{{ c.id }}">{{ c.name }}</label>
                        </nobr><br> 
                    {% endfor %}
                </td>
                <td>
                    {% for c in itype_cols.0 %}
                        <nobr>
                        <input id="itype{{ c.id }}" type="checkbox" value="{{ c.id }}" 
                        name="itype" 
                        {% if c.id in values.defitype %} checked="checked" {% endif %}>
                        <label for="itype{{ c.id }}">{{ c.name }}</label>
                        </nobr><br>
                    {% endfor %}
                </td>
                <td>
                    {% for c in itype_cols.1 %}
                        <nobr>
                        <input id="itype{{ c.id }}" type="checkbox" value="{{ c.id }}" 
                        name="itype" 
                        {% if c.id in values.defitype %} checked="checked" {% endif %}>
                        <label for="itype{{ c.id }}">{{ c.name }}</label>
                        </nobr><br> 
                    {% endfor %}
                </td>
            </tr>
        </table>
        <br> <input type="submit" value="отчет" />
    </fieldset>
</form><br>
{% comment %}    
Приход: <em>{{ ttable.inv|rusnum }} руб.,</em> 
&nbsp;&nbsp;
расход: <em>{{ ttable.ext|rusnum }} руб.</em>
<br>
Доходов: <em>{{ ttable.plus|rusnum }} руб.,</em> 
&nbsp;&nbsp;
расходов: <em>{{ ttable.minus|rusnum }} руб.</em>
<br>
{% endcomment %}

<div id="genrep1" style="text-align: center;"></div>
<br>
<div id="genrep23" style="text-align: center;">
    <span id="genrep2"></span>
    <span id="genrep3"></span>
</div>
{% load googlecharts %}

{% googlecharts %}
    {% data result.graph1 "repdata" %}
        {% col "string" "Время" %}"{{ val }}"{% endcol %}
        {% col "number" "Доход" %}{{ val }}{% endcol %}
        {% col "number" "Расход" %}{{ val }}{% endcol %}
        {% col "number" "Баланс" %}{{ val }}{% endcol %}
    {% enddata %}
    {% data result.graph2 "catdata_in" %}
        {% col "string" "Name" %}"{{ val }}"{% endcol %}
        {% col "number" "Value" %}{{ val }}{% endcol %}
    {% enddata %}
    {% data result.graph3 "catdata_out" %}
        {% col "string" "Name" %}"{{ val }}"{% endcol %}
        {% col "number" "Value" %}{{ val }}{% endcol %}
    {% enddata %}
    {% options "repoptions1" %}
        kind: "ColumnChart",
        options: {
            backgroundColor: "#7e898c",
            chartArea: {left: 65, top: 35, width: 560, height: 220},
            width: 720,
            height: 290
        }
    {% endoptions %}
    {% options "repoptions2" %}
        kind: "PieChart",
        options: {
            backgroundColor: "#7e898c",
            chartArea: {left: 25, top: 35, width: 320, height: 220},
            width: 360,
            height: 290
        }
    {% endoptions %}
    {% graph "genrep1" "repdata" "repoptions1" %}
    {% graph "genrep2" "catdata_in" "repoptions2" %}
    {% graph "genrep3" "catdata_out" "repoptions2" %}
{% endgooglecharts %}
<div id="repdiv1">
    {% if ttable.plus > 0 %}
        <table align="right" class="table_report">
            <thead>
                <tr>
                    <th>Статья доходов</th>
                    <th>Сумма, руб.</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th align="left">Итого <br> (с коррекцией) </th>
                    <th align="left">{{ ttable.plus|rusnum }} <br> {{ ttable.inv|rusnum }}</th>
                </tr>
            </tfoot>
            <tbody>
            {% for row in result.graph2 %}
                {% if row.1 > 0 %}
                <tr>
                    <td align="left">{{ row.0 }}</td> 
                    <td align="left">{{ row.1|rusnum }}</td> 
                </tr>           
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        За выбранный период данные отсутствуют
    {% endif %}
</div>
<div id="repdiv2">
    {% if ttable.minus > 0 %}
        <table class="table_report">
            <thead>
                <tr>
                    <th>Статья расходов</th>
                    <th>Сумма, руб.</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th align="left">Итого <br> (с коррекцией) </th>
                    <th align="left">{{ ttable.minus|rusnum }} <br> {{ ttable.ext|rusnum }}</th>
                </tr>
            </tfoot>
            <tbody>
            {% for row in result.graph3 %}
                {% if row.1 > 0 %}
                <tr>
                    <td>{{ row.0 }}</td> 
                    <td>{{ row.1|rusnum }}</td> 
                </tr>           
                {% endif %}
            {% endfor %}
            <tbody>
        </table>
    {% else %}
        За выбранный период данные отсутствуют
    {% endif %}
</div>

{% endblock %}

