{% extends "base.html" %}
{% block title %}
    История операций
{% endblock title %}

{% block pagejs %}
<script type="text/javascript">
$(document).ready(function() {
    $('input[id*="date"]').datepicker();
    $('input[type*="radio"]').css('width', '20px');
});
</script>
{% endblock %}

{% block content %}
<h1>История операций</h1>
<form method="POST" id="editform" action="javascript:histsearch()" class="formhist">
    <fieldset>
        <legend>Параметры поиска</legend>
        <table cellpadding="8" >
            <tr>
                <th>Период</th>
                <th>Категория</th>
                <th>Дополнительно</th>
            </tr>
            <tr>
                <td>
                    <div>
                        <label for="date_start"><span>начало</span></label>
                        <input id="date_start" type="text" name="date_start" value="{{ pdate.start|date:"d.m.Y" }}">
                    </div><br>
                    <div>
                        <label for="date_end"><span>окончание</span></label>
                        <input id="date_end" type="text" name="date_end" value="{{ pdate.end|date:"d.m.Y" }}">
                    </div>
                </td>
                <td>
                    <input type="radio" name="radiokat" value="0" id="rdk0" checked ><label for="rdk0">платежи</label>
                    <br>
                    <input type="radio" name="radiokat" value="1" id="rdk1"><label for="rdk1">переводы</label>
                    <br>                    
                    <input type="radio" name="radiokat" value="2" id="rdk2"><label for="rdk2">долги</label>
                </td>
                <td>
                    <label for="doptext">содержит в примечании:</label>
                    <br><br>
                    <input type="text" id="doptext" style="width: 200px;">
                </td>
            </tr>
        </table>
        <br> <input type="submit" value="искать" />
    </fieldset>
</form>
<div id="hcontext"></div>
{% endblock content %}
