{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block pagejs %}
<script type="text/javascript">
$(document).ready(function() {
    $( "#tabs" ).tabs({
        // event: "mouseover"
    });
    $('#send_out').click(send_out);
    $('div[id*="datepicker"]').datepicker();
    $( "#datepicker_in" ).click(function(){
        data = $( "#datepicker_in" ).val();
        $('#datein_label').html(data);
    });
    $( "#datepicker_out" ).click(function(){
        data = $( "#datepicker_out" ).val();
        $('#dateout_label').html(data);
    }); 
    
    get_pay_last('#pay_last');

});
</script>
{% endblock %}

{% block content %}
    <div id="tabs">
        <ul>
            <li><a href="#tabs-1">Расход</a></li>
            <li><a href="#tabs-2">Приход</a></li>
            <li><a href="#tabs-3">Перевод</a></li>
            <li><a href="#tabs-4">Корректировка</a></li>
            <li><a href="#tabs-5">Долги</a></li>
        </ul>
        <div id="tabs-1" >{{ t }}
            <table>
                <tr>
                    <td><div id="datepicker_out"></div></td>
                    <td>
                    <div id="paystyle">
                        <form type="POST" action="#">
                            Введите данные о расходе средств 
                            (<em>дата </em>
                            <strong>
                                <span id="dateout_label">{% now "d.m.Y" %}</span>
                            </strong>)
                            <div>{{ form_out.value }} <span class="smallsym">сумма транзакции</span></div>
                            <div>{{ form_out.invoice }} <span class="smallsym">счет списания</span></div>
                            <div>{{ form_out.itype }} <span class="smallsym">вид платежа</span></div>
                            <div><span class="smallsym">примечание (текстовая заметка о транзакции)</span>
                                <br>{{ form_out.comment }}
                            </div>
                            <div>
                                <input type="button" onclick="send_out('out')" value="отправить">
                                <span id="out_status" class="paystatus"></span>
                            </div>
                        </form>
                    </div>
                    </td>
                </tr>
            </table>
        </div>
        <div id="tabs-2">
            <table>
                <tr>
                    <td><div id="datepicker_in"></div></td>
                    <td>
                    <div id="paystyle">
                        <form type="POST" action="#">
                            Введите данные о получении средств 
                            (<em>дата </em>
                            <strong>
                                <span id="datein_label">{% now "d.m.Y" %}</span>
                            </strong>)
                            <div>{{ form_in.value }} <span class="smallsym">сумма транзакции</span></div>
                            <div>{{ form_in.invoice }} <span class="smallsym">счет списания</span></div>
                            <div>{{ form_in.itype }} <span class="smallsym">вид платежа</span></div>
                            <div><span class="smallsym">примечание (текстовая заметка о транзакции)</span>
                                <br>{{ form_in.comment }}
                            </div>
                            <div>
                                <input type="button" onclick="send_out('in')" value="отправить">
                                <span id="in_status" class="paystatus"></span>
                            </div>
                        </form>
                    </div>
                    </td>
                </tr>
            </table>
        </div>
        <div id="tabs-3">
            <p>3. Proin elit arcu,</p>
        </div>
        <div id="tabs-4">
            <p>4. Proin elit arcu,<br>
            Some operations are supported by several object types; in particular, practically all objects can be compared, tested for truth value, and converted to a string (with the repr() function or the slightly different str() function). The latter function is implicitly used when an object is written by the print() function.
            </p>
        </div>
        <div id="tabs-5">
            <p>4. Proin elit arcu,<br>
            Some operations are supported by several object types; in particular, practically all objects can be compared, tested for truth value, and converted to a string (with the repr() function or the slightly different str() function). The latter function is implicitly used when an object is written by the print() function.
            </p>
        </div>
    </div> 
    <div id="pay_last"></div>
{% endblock content %}