{% extends "base.html" %}
{% block title %}Webpurse{% endblock %}

{% block pagejs %}
<script type="text/javascript">
$(document).ready(function() {
    $( "#tabs" ).tabs({
        // event: "mouseover"
    });
    $("#dept_taker").autocomplete({
        minLength: 1,
        source: function (request, response) {
            $.ajax({
                url: "/dept/complete/",
                dataType: "json",
                data: { val: request.term },
                type: 'POST',
                success: response
            })
        },
    });
    $('div[id*="datepicker"]').datepicker();
    $('input').addClass('paystyle-input');
    $('input[type*="checkbox"]').css('width', '15px');

    $( "#datepicker_in" ).click(function(){
        data = $( "#datepicker_in" ).val();
        $('#datein_label').html(data);
    });
    $( "#datepicker_out" ).click(function(){
        data = $( "#datepicker_out" ).val();
        $('#dateout_label').html(data);
    }); 
    $( "#datepicker_cor" ).click(function(){
        data = $( "#datepicker_cor" ).val();
        $('#datecor_label').html(data);
    });
    $( "#datepicker_trans" ).click(function(){
        data = $( "#datepicker_trans" ).val();
        $('#datetrans_label').html(data);
    });
    $( "#datepicker_dept" ).click(function(){
        data = $( "#datepicker_dept" ).val();
        $('#datedept_label').html(data);
    });     
    get_pay_last('#pay_last');
    update_trans('ito', 'ifrom', 0);
});
</script>
{% endblock %}

{% block content %}
    <div id="tabs">
        <ul>
            <li><a href="#tabs-1" onclick="get_pay_last('#pay_last')">Расход</a></li>
            <li><a href="#tabs-2" onclick="get_pay_last('#pay_last')">Приход</a></li>
            <li><a href="#tabs-3" onclick="get_pay_last('#pay_last')">Корректировка</a></li>
            <li><a href="#tabs-4" onclick="get_trans_last('#pay_last')">Перевод</a></li>
            <li><a href="#tabs-5" onclick="get_depts_last('#pay_last')">Долги</a></li>
        </ul>
        <div id="tabs-1" >{{ t }}
            <table>
                <tr>
                    <td><div id="datepicker_out"></div></td>
                    <td>
                    <div id="paystyle">
                        <form type="POST" action="javascript:send_out('out')" id="form_out">
                            Введите данные о расходе средств 
                            (<em>дата </em>
                            <strong>
                                <span id="dateout_label">{% now "d.m.Y" %}</span>
                            </strong>)
                            <div>{{ form_out.value }} <span class="smallsym">сумма транзакции</span></div>
                            <div>{{ form_out.invoice }} <span class="smallsym">счет списания</span></div>
                            <div>{{ form_out.itype }} <span class="smallsym">вид платежа</span></div>
                            <div><span class="smallsym">примечание (текстовая заметка о транзакции)</span>
                                <br>{{ form_out.comment }}
                            </div>
                            <div>
                                <input type="submit" value="отправить">
                                <span id="out_status" class="paystatus"></span>
                            </div>
                        </form>
                    </div>
                    </td>
                </tr>
            </table>
        </div>
        <div id="tabs-2">
            <table>
                <tr>
                    <td><div id="datepicker_in"></div></td>
                    <td>
                    <div id="paystyle">
                        <form type="POST" action="javascript:send_out('in')"  id="form_in">
                            Введите данные о получении средств 
                            (<em>дата </em>
                            <strong>
                                <span id="datein_label">{% now "d.m.Y" %}</span>
                            </strong>)
                            <div>{{ form_in.value }} <span class="smallsym">сумма транзакции</span></div>
                            <div>{{ form_in.invoice }} <span class="smallsym">счет списания</span></div>
                            <div>{{ form_in.itype }} <span class="smallsym">вид платежа</span></div>
                            <div><span class="smallsym">примечание (текстовая заметка о транзакции)</span>
                                <br>{{ form_in.comment }}
                            </div>
                            <div>
                                <input type="submit" value="отправить">
                                <span id="in_status" class="paystatus"></span>
                            </div>
                        </form>
                    </div>
                    </td>
                </tr>
            </table>
        </div>
        <div id="tabs-3">
            <table>
                <tr>
                    <td><div id="datepicker_cor"></div></td>
                    <td>
                    <div id="paystyle">
                        <form type="POST" action="javascript:send_cor('cor')"  id="form_cor">
                            Введите данные корректировки
                            (<em>дата </em>
                            <strong>
                                <span id="datecor_label">{% now "d.m.Y" %}</span>
                            </strong>)
                            <div>{{ form_cor.value }} <span class="smallsym">сумма транзакции</span></div>
                            <div>{{ form_cor.invoice }} <span class="smallsym">счет списания</span></div>
                            <div>{{ form_cor.tosum }} <label for="cor_tosum">корректировка счета</label></div>
                            <div>
                                <span class="smallsym">примечание (текстовая заметка о транзакции)</span>
                                <br>{{ form_cor.comment }}
                            </div>
                            <div>
                                <input type="submit" value="отправить">
                                <span id="cor_status" class="paystatus"></span>
                            </div>
                        </form>
                    </div>
                    </td>
                </tr>
            </table>
        </div>
        <div id="tabs-4">
            <table>
                <tr>
                    <td><div id="datepicker_trans"></div></td>
                    <td>
                    <div id="paystyle">
                        <form type="POST" action="javascript:send_trans('trans')"  id="form_trans">
                            Введите данные перевода
                            (<em>дата </em>
                            <strong>
                                <span id="datetrans_label">{% now "d.m.Y" %}</span>
                            </strong>)
                            <div>{{ form_trans.value }} <span class="smallsym">сумма транзакции</span></div>
                            <div>
                                <span id="tr_ifrom">{{ form_trans.ifrom }}</span>
                                <span class="smallsym">счет списания</span>
                            </div>
                            <div>
                                <span id="tr_ito"></span>
                                <span class="smallsym">счет зачисления</span>
                            </div>
                            <div><span class="smallsym">примечание (текстовая заметка о транзакции)</span>
                                <br>{{ form_trans.comment }}
                            </div>
                            <div>
                                <input type="submit" value="отправить">
                                <span id="trans_status" class="paystatus"></span>
                            </div>
                        </form>
                    </div>
                    </td>
                </tr>
            </table>
        </div>
        <div id="tabs-5">
           <table>
                <tr>
                    <td><div id="datepicker_dept"></div></td>
                    <td>
                    <div id="paystyle">
                        <form type="POST" action="javascript:send_depts('dept')"  id="form_dept">
                            Введите данные займа
                            (<em>дата </em>
                            <strong>
                                <span id="datedept_label">{% now "d.m.Y" %}</span>
                            </strong>)
                            <div>{{ form_dept.value }} <span class="smallsym">сумма долга</span></div>
                            <div>{{ form_dept.invoice }} <span class="smallsym">счет долга</span></div>
                            <div>{{ form_dept.taker }} <span class="smallsym">заёмщик (кредитор)</span></div>
                            <div>
                                {{ form_dept.credit }} 
                                <label for="dept_credit">{{ form_dept.credit.label|lower }}</label>
                            </div>
                            <div><span class="smallsym">примечание (текстовая заметка о транзакции)</span>
                                <br>{{ form_dept.comment }}
                            </div>
                            <div>
                                <input type="submit" value="отправить">
                                <span id="dept_status" class="paystatus"></span>
                            </div>
                        </form>
                    </div>
                    </td>
                </tr>
            </table>
        </div>
    </div> 
    <div id="pay_last"></div>
{% endblock content %}