{% extends "base.html" %}
{% load jtags %}
{% block title %}Изменение данных о счетах{% endblock %}

{% block pagejs %}
<script type="text/javascript">
$(document).ready(function() {
    $('input[name*="balance"]').css('width', '80px');
    $('input[type*="checkbox"]').css('width', '15px');
});
</script>
{% endblock %}

{% block content %}
<h1>Изменение данных о счетах</h1>
<form method="POST" id="editform" action="" class="formstyle">
{% csrf_token %}{{ formset.management_form }}
    <table width="100%" class="table_edit">
        <tr>
            <th>№</th>
            <th class="itable">Наименование</th>
            <th>Баланс, руб.</th>
            <th>Чужой</th>
            <th>Валюта</th>
            <th>Веб-страница</th>            
            <th>Примечание</th>
        </tr>   
        {% for form in formset %}
        <tr>
            <td>
                {{ forloop.counter }}
                {{ form.id }}
            </td>
            <td>
                {{ form.name }}
                {{ form.name.errors|lower }}
            </td>
            <td>
                {{ form.balance }}
                {{ form.balance.errors|lower }}
            </td>
            <td>
                {{ form.other }}
                {{ form.other.errors|lower }}
            </td>
            <td>
                {{ form.valuta }}
                {{ form.valuta.errors|lower }}
            </td>
            <td>
                {{ form.url }}
                <div class="italicp">{{ form.url.help_text }}</div>
                {{ form.url.errors|lower }}
            </td>           
            <td>
                {{ form.comment }}
                {{ form.comment.errors|lower }}
            </td>
        </tr> 
        {% endfor %}
    </table>
    <br>
    <input type="submit" value="Сохранить" />
 </form>
{% endblock content %}