{% load jtags %}
<div id="allsum">
    {% if summ %}
        {{ summ|rusnum }} руб.
    {% endif %}
</div><br>
{% if invoices %}
    {% for invoice in invoices %}
        <div>
        <span id="isum">
            {{ invoice.balance|rusnum }} 
            <span class="smallsym">{{ invoice.valuta.code }}</span>
        </span><br>
        {% if invoice.url %}
            <a href="{{ invoice.url }}" target="_blank" 
            title="Переход на страницу счета"><strong>{{ invoice.name }}</strong></a>
        {% else %}
            <strong>{{ invoice.name }}</strong>
        {% endif %}
        <br>
        <em>
            {% if invoice.comment %}
                {{ invoice.comment }}<br>
            {% endif %}
            {% if invoice.other %}
                (чужой счет)
            {% endif %}
        </em>
        </div><br>
    {% endfor %}
{% else %}
    У вас еще нет счетов, но Вы можете их 
    <a href="/invoice/edit/" title="добавить новые счета">добавить</a>.
{% endif %}
{% if depts %}
    <hr>
    <div id="mydepts">Долги</div>
    {% if depts.dgt %}
    <div class="depts_my">Я должен:</div>
        {% for dept in depts.dgt %}
            {{ dept.taker }}
            <span class="sumdept">
                {{ dept.sdept|rusnum }}
                <span class="smallsym">{{ dept.invoice__valuta__code }}</span>
            </span>
            <br>
        {% endfor %}
    {% endif %}
     {% if depts.dlt %}
    <div class="depts_my">Мне должены:</div>
        {% for dept in depts.dlt %}
            {{ dept.taker }}
            <span class="sumdept">
                {{ dept.sdept|vabs|rusnum }}
                <span class="smallsym">{{ dept.invoice__valuta__code }}</span>
            </span>
            <br>
        {% endfor %}
    {% endif %}
{% endif %}