{% extends "base.html" %}
{% block title %}Виды платежей{% endblock %}

{% block pagejs %}
<script type="text/javascript">
$(document).ready(function() {
    $('.dellink').mouseover(function(){
            $(this).fadeTo("slow",1);
        }).mouseout(function(){
           $(this).fadeTo("slow",0.5);
        });

});
</script>
{% endblock %}
{% block content %}
<h1>Виды платежей</h1>
<div class="itypestyle1">
    <h3>Расходы</h3>
    <div id="paystyle">
        <form type="POST" action="">
            <input value="" id="add1">
            <a href="javascript:addtype(1)"><img src="{{ MEDIA_URL }}img/add.png" alt="добавить" align="top"></a>
        </form>
    </div>
    <div id="uptype1">
        {% if itype_out %}
            <ul>
                {% for ty in itype_out %}
                    <li>
                        {{ ty.name }}
                        <span class="dellink">
                            <a href="javascript:deltype(1, {{ ty.id }})"><img src="{{ MEDIA_URL }}img/delete.png" alt="удалить"></a>
                        </span>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <em>видов расходов нет</em>
        {% endif %}
    </div>
</div>
<div class="itypestyle2">
    <h3>Доходы</h3> 
    <div id="paystyle">
        <form type="POST" action="">
            <input value="" id="add0">
            <a href="javascript:addtype(0)"><img src="{{ MEDIA_URL }}img/add.png" alt="добавить" align="top"></a>
        </form>
    </div>
    <div id="uptype0">
        {% if itype_in %}
            <ul>
                {% for ty in itype_in %}
                    <li>
                        {{ ty.name }}
                        <span class="dellink">
                            <a href="javascript:deltype(0, {{ ty.id }})"><img src="{{ MEDIA_URL }}img/delete.png" alt="удалить"></a>
                        </span>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <em>видов расходов нет</em>
        {% endif %}
    </div>
</div>
 
{% endblock content %}