{% extends "base.html" %}
{% block title %}
    Статистика платежей
{% endblock title %}

{% block pagejs %}
<script type="text/javascript">
$(document).ready(function() {
    ch_diapazone();
    $( "#rep_diapazone" ).change(ch_diapazone);
    $("#rep_diapvalue").css('width', '110px');
});
</script>
{% endblock %}

{% block content %}
<h1>Статистика платежей. Отчеты и графики.</h1>
{{ result }}
<form method="POST" id="editform" action="" class="formhist">{% csrf_token %}
    <fieldset>
        <legend>Параметры</legend>
        <table cellpadding="8" border="0">
            <tr>
                <th>Период</th>
                <th colspan="2">Счета</th>
                <th colspan="2">Типы</th>
            </tr>
            <tr>
                <td>
                    <div>
                        <span>диапазон</span>
                        <select id="rep_diapazone" name="rep_diapazone">
                            <option value="y" {% if 'y' == values.defdiap %} selected="selected" {% endif %}>Год</option>
                            <option value="m"{% if 'm' == values.defdiap %} selected="selected" {% endif %}>Месяц</option>
                            <option value="w"{% if 'w' == values.defdiap %} selected="selected" {% endif %}>Неделя</option>
                        </select>
                    </div><br>
                    <div>
                        <span>значение</span>
                        <span id="rep_diapvalue"></span>
                        <input type="hidden" id="defrepval" value="{{ values.defval }}">
                    </div>
                </td>
                <td>
                    {% for c in inv_cols.0 %}
                        <input id="invoice0{{ forloop.counter }}" name="invoice0{{ forloop.counter }}" 
                            type="checkbox" value="{{ c.id }}" 
                            {% if c.id in values.definvoices %} checked="checked" {% endif %}>
                        {{ c.name }}<br>
                    {% endfor %}
                    <input type="hidden" id="cinvoice0" value="{{ inv_cols.0.count }}">
                </td>
                <td>
                    {% for c in inv_cols.1 %}
                        <input id="invoice1{{ forloop.counter }}" type="checkbox" value="{{ c.id }}"
                        name="invoice1{{ forloop.counter }}" 
                        {% if c.id in values.definvoices %} checked="checked" {% endif %}>
                        {{ c.name }}<br> 
                    {% endfor %}
                    <input type="hidden" id="cinvoice1" value="{{ inv_cols.1.count }}">
                </td>
                <td>
                    {% for c in itype_cols.0 %}
                        <input id="itype0{{ forloop.counter }}" type="checkbox" value="{{ c.id }}" 
                        name="itype0{{ forloop.counter }}" 
                        {% if c.id in values.defitype %} checked="checked" {% endif %}>
                        {{ c.name }}<br>
                    {% endfor %}
                    <input type="hidden" id="citype0" value="{{ itype_cols.0.count }}">
                </td>
                <td>
                    {% for c in itype_cols.1 %}
                        <input id="itype1{{ forloop.counter }}" type="checkbox" value="{{ c.id }}" 
                        name="itype1{{ forloop.counter }}" 
                        {% if c.id in values.defitype %} checked="checked" {% endif %}>
                        {{ c.name }}<br> 
                    {% endfor %}
                    <input type="hidden" id="citype1" value="{{ itype_cols.1.count }}">
                </td>
            </tr>
        </table>
        <br> <input type="submit" value="отчет" />
    </fieldset>
</form>
<div id="genrep"></div>
{% endblock %}

