{% load googlecharts %}
<div id="graphdiv">123</div>

{% googlecharts %}
    {% data result "my_data" %}
        {% col "string" "Date" %}"{{ val|date:"%b" }}"{% endcol %}
        {% col "number" "Доход" %}{{ val }}{% endcol %}
        {% col "number" "Расход" %}{{ val }}{% endcol %}
        {% col "number" "Баланс" %}{{ val }}{% endcol %}
    {% enddata %}
    {% options "out_options" %}
        kind: "ColumnChart",
        options: {
            backgroundColor: "#7e898c",
            chartArea: {left: 50, top: 35, width: 560, height: 220},
            width: 720,
            height: 290
        }
    {% endoptions %}
    {% graph "genrep" "my_data" "out_options" %}
{% endgooglecharts %}
    </body>
</html>




