{% extends "base.html" %}
{% block title %}
    Статистика платежей
{% endblock title %}

{% block pagejs %}
{% endblock %}

{% block content %}
<h1>Статистика платежей. Отчеты и графики.</h1><br>
<h3>Мои счета</h3>
<div id="my_invoice"></div>
<h3>Чужие счета</h3>
<div id="other_invoice"></div>

{% block addmeta %}{% load googlecharts %}{% endblock %}

{% googlecharts %}
    {% data values.my "my_data" %}
        {% col "string" "Date" %}"{{ val|date:"b" }}"{% endcol %}
        {% col "number" "Доход" %}{{ val }}{% endcol %}
        {% col "number" "Расход" %}{{ val }}{% endcol %}
        {% col "number" "Баланс" %}{{ val }}{% endcol %}
    {% enddata %}
    {% data values.other "ot_data" %}
        {% col "string" "Date" %}"{{ val|date:"b" }}"{% endcol %}
        {% col "number" "Доход" %}{{ val }}{% endcol %}
        {% col "number" "Расход" %}{{ val }}{% endcol %}
        {% col "number" "Баланс" %}{{ val }}{% endcol %}
    {% enddata %}
    {% options "out_options" %}
        kind: "ColumnChart",
        options: {
            backgroundColor: "#7e898c",
            //colors: ["#ff0000"],
            //gredlineColor: "#ddd",
            chartArea: {left: 50, top: 35, width: 560, height: 220},
            width: 720,
            height: 290
        }
    {% endoptions %}
    {# chart is assembled from container, data and options #}
    {% graph "my_invoice" "my_data" "out_options" %}
    {% graph "other_invoice" "ot_data" "out_options" %}
{% endgooglecharts %}
{% endblock %}

