{% extends "base.html" %}
{% block title %}
    Статистика платежей
{% endblock title %}

{% block pagejs %}
<script type="text/javascript">
$(document).ready(function() {
    ch_diapazone();
    $( "#rep_diapazone" ).change(ch_diapazone);
    $("#rep_diapvalue").css('width', '110px');
});
</script>
{% endblock %}

{% block content %}
<h1>Статистика платежей. Отчеты и графики.</h1>
{% comment %}
    POST: {{ result }}
{% endcomment %}
<form method="POST" id="editform" action="" class="formhist">{% csrf_token %}
    <fieldset>
        <legend>Параметры</legend>
        <table cellpadding="8" border="0">
            <tr>
                <th>Период</th>
                <th colspan="2">Счета</th>
                <th colspan="2">Типы</th>
            </tr>
            <tr>
                <td>
                    <div>
                        <span>диапазон</span>
                        <select id="rep_diapazone" name="rep_diapazone">
                            <option value="y" {% if 'y' == values.defdiap %} selected="selected" {% endif %}>Год</option>
                            <option value="m"{% if 'm' == values.defdiap %} selected="selected" {% endif %}>Месяц</option>
                            <option value="w"{% if 'w' == values.defdiap %} selected="selected" {% endif %}>Неделя</option>
                        </select>
                    </div><br>
                    <div>
                        <span>значение</span>
                        <span id="rep_diapvalue"></span>
                        <input type="hidden" id="defrepval" value="{{ values.defval }}">
                    </div>
                </td>
                <td>
                    {% for c in inv_cols.0 %}
                        <input id="invoice{{ c.id }}" name="invoice" 
                            type="checkbox" value="{{ c.id }}" 
                            {% if c.id in values.definvoices %} checked="checked" {% endif %}>
                        {{ c.name }}<br>
                    {% endfor %}
                </td>
                <td>
                    {% for c in inv_cols.1 %}
                        <input id="invoice{{ c.id }}" type="checkbox" value="{{ c.id }}"
                        name="invoice" 
                        {% if c.id in values.definvoices %} checked="checked" {% endif %}>
                        {{ c.name }}<br> 
                    {% endfor %}
                </td>
                <td>
                    {% for c in itype_cols.0 %}
                        <input id="itype{{ c.id }}" type="checkbox" value="{{ c.id }}" 
                        name="itype" 
                        {% if c.id in values.defitype %} checked="checked" {% endif %}>
                        {{ c.name }}<br>
                    {% endfor %}
                </td>
                <td>
                    {% for c in itype_cols.1 %}
                        <input id="itype{{ c.id }}" type="checkbox" value="{{ c.id }}" 
                        name="itype" 
                        {% if c.id in values.defitype %} checked="checked" {% endif %}>
                        {{ c.name }}<br> 
                    {% endfor %}
                </td>
            </tr>
        </table>
        <br> <input type="submit" value="отчет" />
    </fieldset>
</form><br>
<div id="genrep" style="text-align: center;"></div>
{% load googlecharts %}
{% googlecharts %}
    {% data result "repdata" %}
        {% col "string" "Время" %}"{{ val }}"{% endcol %}
        {% col "number" "Доход" %}{{ val }}{% endcol %}
        {% col "number" "Расход" %}{{ val }}{% endcol %}
        {% col "number" "Баланс" %}{{ val }}{% endcol %}
    {% enddata %}
    {% options "repoptions" %}
        kind: "ColumnChart",
        options: {
            backgroundColor: "#7e898c",
            chartArea: {left: 65, top: 35, width: 560, height: 220},
            width: 720,
            height: 290
        }
    {% endoptions %}
    {% graph "genrep" "repdata" "repoptions" %}
{% endgooglecharts %}
{% endblock %}

