<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"> 
<html lang="ru"> 
    <head> 
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
        <meta http-equiv="Content-Language" content="ru"/> 
        {% block addmeta %}{% endblock %}
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/main.css" type="text/css" />
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/ui-darkness/jquery-ui-1.8.16.custom.css" type="text/css" />
        <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.6.2.min.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-custom.min.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.ui.datepicker-ru.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/djcsrf.js"></script>
        <title>{% block title %}{% endblock %}</title>
    </head> 
    <body>
        <script type="text/javascript">
        $(document).ready(function() {
            invoices_update('/invoice/view/', '#leftm');     
        });
        </script>
        {% block pagejs %}{% endblock %}
        <div id="loginpage21">
            {% if user.is_authenticated %}
                Вы вошли как <u>{{ user.first_name  }}</u>.
            {% endif %}
            <a href="/accounts/logout/">выйти</a>
        </div>
        <div id="loginpage22">
            <a href="/"><img src="{{ MEDIA_URL }}/img/money.png" height="25px"></a>
            <ul class="headmenu">
                <li><a href="/invoices/">счета</a></li>
                <li><a href="/history/">история</a></li>
            </ul>
        </div>
        <div id="loginpage23"><a href="#">О проекте</a></div>
        <hr />
        <table class="maintable" width="100%">
            <tr>
                <td width="220px">
                    <div id="left-invoice">
                        <div id="leftm"></div>
                    </div>
                </td>
                <td>
                    <div id="content-main">
                        {% block content %}{% endblock %}
                    </div>
                </td>                
            </tr>
        </table>
    </body>
</html>
