<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"> 
<html lang="ru"> 
    <head> 
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
        <meta http-equiv="Content-Language" content="ru"/> 
        {% block addmeta %}{% endblock %}
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/main.css" type="text/css" />
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/jquery-ui-1.8.16.custom.css" type="text/css" />
        <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.6.2.min.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-custom.min.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.ui.datepicker-ru.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/djcsrf.js"></script>
        <title>{% block title %}{% endblock %}</title>
    </head> 
    <body>
        {% block pagejs %}{% endblock %}
        <div id="loginpage1">
        {% if user.is_authenticated %}
            Вы вошли как {{ user.first_name  }}.
        {% endif %}
        <span ><a href="/accounts/logout/">выйти</a></span>
        </div>
        <div id="loginpage2"><a href="#">О проекте</a></div>
        <hr />
        <table class="mainntable">
            <tr>
                <td width="200px">
                    <div id="left-invoice">
                        {% block leftinvoice %}{% endblock leftinvoice %}
                    </div>
                </td>
                <td>
                    <div id="content-main">
                        {% block content %}{% endblock %}
                    </div>
                </td>                
            </tr>
        </table>
      
        <!-- 
        <div id="footer-page">
            <center>Footer</center>
        </div>
        -->
    </body>
</html>
