<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"
    "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
    <meta http-equiv="Content-Language" content="ru"/> 
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/main.css" type="text/css" />
    <title>{{ flatpage.title }}</title>
    </head>
    <body>
        <div id="loginpage21">
            <a href="/">Главная страница</a>
        </div>
        <div id="loginpage22"></div>
        <div id="loginpage23"><a href="/about/">О проекте</a></div>
        <hr />
        <div id="flatdiv">
            {{ flatpage.content }}
        </div>
    </body>
</html>